*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.container{
    color: #333;
    border: solid #333 2px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 500px;
}

div{
    font-size: 1.5rem;
}

div h1, div p{
    margin: 30px 0;
}

.cabecera{
    background-color: crimson;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 4.0rem;
    box-shadow: 6px 4px 16px 3px rgba(0,0,0,0.75);
}

footer{
    width: 100%;
    font-size: 1.2rem;
    margin-top: 20px;
    background-color: turquoise;
    font-weight: bold;
    color:white;   
    font-family: Arial, Helvetica, sans-serif;
}
